<div class="container">
    <h2>Register</h2>
    <form>
      <label>Full Name:</label>
      <input type="text" placeholder="Enter full name" required /><br />
  
      <label>Email:</label>
      <input type="email" placeholder="Enter email" required /><br />
  
      <label>Password:</label>
      <input type="password" placeholder="Enter password" required /><br />
  
      <button  type="submit">Register</button>
      <!-- (click)="message()" -->
    </form>
  
    <p>Already have an account?</p>
    <button (click)="navigateToLogin()">Login</button>
  </div>